body {
  margin: 91px 0px 6px calc((100% - 1000px) * 0.5);
  font-family: Arial Helvetica, sans-serif, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(231, 229, 229);
}

.head{

  margin: 91px 0px 6px calc((100% - 1000px) * 0.5);
  font-family: Arial Helvetica, sans-serif;
  font-size: 40px;
  margin-left: -4px;
}

.subhead{

  margin: 0px;
  font-family: Arial Helvetica, sans-serif;
  font-size: 17px;
  margin-left: 0px;
}

.text{
  font-family: Arial, sans-serif;
  font-size: 17px;
  margin-left: 2px;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
